<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>New {{.Role}} applicant for PK Hairdressing</title>
</head>
<body>
<h1>New {{.Role}} applicant for PK Hairdressing</h1>
<p><strong>Name: {{.Name}}</strong></p>
<p>Mobile: {{.Mobile}}</p>
<p>Email: {{.Email}}</p>
<p>Position: {{.Position}}</p>
<p>About Yourself: {{.About}}</p>
<p>Why Hair: {{.WhyHair}}</p>
<p>Why Us: {{.WhyUs}}</p>
</body>
</html>