// _overrides.scss

// Define your new style
.title-new {
  @extend .title; // This ensures .new-title inherits all of .title's styles

  // Now, specify the properties you want to change/override
  font-family: "collier", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: .4rem;
}

.title-new-sub {
  @extend .title-new; // This ensures .new-title inherits all of .title's styles
  font-weight: 200 !important;
}