.price-calc {
  p {
    margin-bottom: .8rem;
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .back-link:hover {
    opacity: .7;
    cursor: pointer;
  }

  .section {
    padding: 1rem;
  }

  .panel-heading {
    font-size: 1rem;
  }

  .prices {
    p {
      margin-bottom: 1rem;
    }
    .total {
      border-top: 1px solid $level;
      border-bottom: 1px solid $level;
      padding: .5rem 0;
    }
  }

  .price {
    p {
      margin: 0;
    }
  }

  .level-price {
    text-align: center;
    font-size: .8rem;
    margin-top: .8rem;
    color: $primary-dark;
  }

  .salonSelect:hover {
    opacity: 80%;
    cursor: pointer;
  }

  .activeLevel, .activeStylist {
    background-color: $level !important;
    color: white !important;
  }

  .activeSelectedColour {
    background-color: $colour !important;
    color: white !important;
  }

  .activeSelectedColourAddOn {
    background-color: $colour-add-on !important;
    color: white !important;
  }

  .activeSelectedTreatment {
    background-color: $treatment !important;
    color: white !important;
  }

  .activeSelectedFinish {
    background-color: $finish !important;
    color: white !important;
  }

  .activeSelectedFinishAddOn {
    background-color: $finish-add-on !important;
    color: white !important;
  }

  .service-link {
    height: 9rem;
    &:hover {
      opacity: .7;
      cursor: pointer;
    }
    p {
      padding: .3rem;
      font-size: .9rem;
      line-height: 1rem;
      color: #FFF;
      text-align: center;
      background-color: rgba(8,12,16,.5);
      @include until($desktop) {
        font-size: 1.4rem;
        line-height: 1.2rem;
      }
    }
  }

  .cutting {
    background: url("https://9dd4398ac4d52ba12cab-f1aee8fa44b57276f7c290953cbe1cf5.ssl.cf5.rackcdn.com/menu_pics/cutting.png") center center no-repeat;
    background-size: cover;
  }

  .colour {
    background: url("https://9dd4398ac4d52ba12cab-f1aee8fa44b57276f7c290953cbe1cf5.ssl.cf5.rackcdn.com/menu_pics/colour.png") center center no-repeat;
    background-size: cover;
  }

  .extensions {
    background: url("https://9dd4398ac4d52ba12cab-f1aee8fa44b57276f7c290953cbe1cf5.ssl.cf5.rackcdn.com/menu_pics/extensions.png") center center no-repeat;
    background-size: cover;
  }

  .men {
    background: url("https://9dd4398ac4d52ba12cab-f1aee8fa44b57276f7c290953cbe1cf5.ssl.cf5.rackcdn.com/menu_pics/men.png") center center no-repeat;
    background-size: cover;
  }

  .disabled {
    opacity: .3;
  }

  .staff-selection {
    margin-bottom: 2rem;
  }

  /* transition styling */

  .fade-enter, .fade-leave-active {
    opacity: 0;
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity .1s;
  }
}